<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--COMPLETAR-->
    <meta name="descrption">
    <!--COMPLETAR-->
    <meta name="keywords">
    <title>Conciertos</title>
    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- LINK CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- ICONOS BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

    <!--==========================================================================================-->
    <!--========================= HEADER - NAVBAR - MENU =========================================-->
    <!--==========================================================================================-->

    <header class="conciertos__header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <div class="nav-logo">
                        <img src="../public/img/logo/logo.jpg" alt="">
                        <span>Bon Jovi</span>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./miembros.html">Miembros</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./discografia.html">Discografia</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./conciertos.html">Conciertos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./contactanos.html">Contactanos</a>
                        </li>


                    </ul>
                    <div class="social-media">
                        <ul class="social-media-menu d-flex align-items-center m-0 p-0">
                            <li><a href="https://www.facebook.com/BonJovi/" target="_blank"><i
                                        class="bi bi-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/bonjovi/" target="_blank"><i
                                        class="bi bi-instagram"></i></a></li>
                            <li><a href="https://twitter.com/bonjovi" target="_blank"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li><a href="https://www.youtube.com/user/bonjovi" target="_blank"><i
                                        class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!--==========================================================================================-->
    <!--============================= LISTA DE VIDEOS ============================================-->
    <!--==========================================================================================-->

    <div class="container-fluid conciertos__grid">
        <div class="row">
            <div class="container-videos col-md-4">
                <div class="container-img primero">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/IdshtRVU9AQ" target="_blank">Moscow Peace Festival</a></p>
                    <p class="descriptionVideo">Stadium Lenin, Moscu, Rusia</p>
                    <p class="descriptionVideo">1989<a href="https://youtu.be/IdshtRVU9AQ" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
            <div class="container-videos col-md-4">
                <div class="container-img segundo">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/4yocblnuvnk" target="_blank">An Evening Whit Bon Jovi</a></p>
                    <p class="descriptionVideo">Kaufman Astoria Studio, New York, USA</p>
                    <p class="descriptionVideo">1992<a href="https://youtu.be/4yocblnuvnk" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
            <div class="container-videos col-md-4">
                <div class="container-img tercero">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/7Op7SIDvXQc" target="_blank">Live From London</a></p>
                    <p class="descriptionVideo">Wembley Stadium, London, UK</p>
                    <p class="descriptionVideo">1995<a href="https://youtu.be/7Op7SIDvXQc" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-videos col-md-4">
                <div class="container-img cuarto">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/e8M8dLg1WtE" target="_blank">The Crush Tour</a></p>
                    <p class="descriptionVideo">LetzigrundStadion, Zurich, Switzerland</p>
                    <p class="descriptionVideo">2000<a href="https://youtu.be/e8M8dLg1WtE" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
            <div class="container-videos col-md-4">
                <div class="container-img quinto">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/ulKKSVtJt8E" target="_blank">Live At Madison Square Garden</a></p>
                    <p class="descriptionVideo">Madison Square Garden, New York, USA</p>
                    <p class="descriptionVideo">2008<a href="https://youtu.be/ulKKSVtJt8E" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
            <div class="container-videos col-md-4">
                <div class="container-img sexto">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/QLxZ8cqLnr4" target="_blank">Live At iHeart Radio Festival</a></p>
                    <p class="descriptionVideo">MGM Grand Garden Atena, Las Vegas, Nevada</p>
                    <p class="descriptionVideo">2012<a href="https://youtu.be/QLxZ8cqLnr4" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-videos col-md-4">
                <div class="container-img septimo">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/uRcdRlcLagA" target="_blank">Rock In Rio</a></p>
                    <p class="descriptionVideo">Parque Da Bela Vista, Lisboa, Portugal</p>
                    <p class="descriptionVideo">2017<a href="https://youtu.be/uRcdRlcLagA" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
            <div class="container-videos col-md-4">
                <div class="container-img octavo">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/PVdTmRBv6kQ" target="_blank">Live At iHeart Radio Festival</a></p>
                    <p class="descriptionVideo">Realizado de forma virtual por el COVID</p>
                    <p class="descriptionVideo">2020<a href="https://youtu.be/PVdTmRBv6kQ" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
            <div class="container-videos col-md-4">
                <div class="container-img noveno">
                </div>
                <div class="container-text">
                    <p class="nombreVideo"><a href="https://youtu.be/in9zO76qOCY" target="_blank">Bon Jovi Live Argentina</a></p>
                    <p class="descriptionVideo">Estadio River Plate, BsAs, Argentina</p>
                    <p class="descriptionVideo">1995<a href="https://youtu.be/in9zO76qOCY" target="_blank"><i class="bi bi-film"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    <!--==========================================================================================-->
    <!--================================== FOOTER ================================================-->
    <!--==========================================================================================-->

    <footer>
        <div class="top container-fluid d-flex justify-content-center">
            <div class="column1">
                <ul>
                    <li><span class="footer__menu__titulo__columna1">bon jovi</span></li>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="./miembros.html">Miembros</a></li>
                    <li><a href="./discografia.html">Discografia</a></li>
                    <li><a href="./conciertos.html">Conciertos</a></li>
                    <li><a href="./contactanos.html">Contactanos</a></li>
                </ul>
            </div>
            <div class="column2">
                <div class="icon-media">
                    <ul>
                        <li><span class="footer__menu__titulo__columna2">ayudanos</span></li>
                        <li><a href="https://jbjsf.org/" target="_blank"><img
                                    src="../public/img/foundation/logo-jbj-soul-foundation.svg" alt=""></a></li>
                        <li><a href="https://www.runawaytours.com/" target="_blank"><img
                                    src="../public/img/foundation/logo-runaway-tours.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="column3">
                <ul>
                    <li><span class="footer__menu__titulo__column3">siguenos</span></li>
                    <li><a href="https://www.facebook.com/BonJovi/" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/bonjovi/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a></li>
                    <li><a href="https://twitter.com/bonjovi" target="_blank"><i class="bi bi-twitter"></i>Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/bonjovi" target="_blank"><i class="bi bi-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>
                DEVspinaca. &copy; Todos los derechos reservados 2021
            </p>
        </div>
    </footer>
<!-- SCRIPT BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>
<!-- SCRIPT TYPEWRITTER -->
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<!-- JS LOCAL -->
<script src="./scripts/main.js"></script>



</body>

</html>