<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--COMPLETAR-->
  <meta name="descrption">
  <!--COMPLETAR-->
  <meta name="keywords">
  <title>Discografia</title>
  <!-- FONTAWESOME CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- LINK CSS -->
  <link rel="stylesheet" href="../css/index.css">
  <!-- ICONOS BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

  <!--==========================================================================================-->
  <!--========================= HEADER - NAVBAR - MENU =========================================-->
  <!--==========================================================================================-->

  <header class="discografia__header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
          <div class="nav-logo">
            <img src="../public/img/logo/logo.jpg" alt="">
            <span>Bon Jovi</span>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./miembros.html">Miembros</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./discografia.html">Discografia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./conciertos.html">Conciertos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./contactanos.html">Contactanos</a>
            </li>


          </ul>
          <div class="social-media">
            <ul class="social-media-menu d-flex align-items-center m-0 p-0">
              <li><a href="https://www.facebook.com/BonJovi/" target="_blank"><i class="bi bi-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/bonjovi/" target="_blank"><i class="bi bi-instagram"></i></a></li>
              <li><a href="https://twitter.com/bonjovi" target="_blank"><i class="bi bi-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/user/bonjovi" target="_blank"><i class="bi bi-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>



  <!--==========================================================================================-->
  <!--================================== MAIN ==================================================-->
  <!--==========================================================================================-->

  <main class="discografia">
    <section class="discografia__section">
      <div class="container-fluid">
        <div class="discografia__texto">
          <div class="subtitulos">
            <h2>Discografia</h2>
          </div>

          <p class="w-75">La discografía de Bon Jovi consiste en catorce álbumes de estudio, tres álbumes
            recopilatorios, dos álbumes
            en vivo, una caja recopilatoria, trece lanzamientos en vídeo y cincuenta y un sencillos. El primer
            lanzamiento fue el sencillo «Runaway» en 1983. Su segundo álbum, 7800° Fahrenheit, logró aún menos éxito que su
            anterior material, excepto en Japón, donde alcanzó la quinta posición en la principal lista musical del
            país. El éxito de la banda llegó con su tercer álbum, Slippery When Wet.</p>
        </div>
      </div>
    </section>
    <section class="albumes">
      <div class="container-fluid d-flex justify-content-center">
        <table class="w-50 table table-sm table-dark">
          <thead>
            <tr>
              <th scope="col">Año</th>
              <th scope="col">Disco</th>
              <th scope="col">Lanzamiento</th>
              <th scope="col">Sello</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1984</th>
              <td>Bon Jovi</td>
              <td>21/01/1984</td>
              <td>Mercury Record</td>
            </tr>
            <tr>
              <th scope="row">1985</th>
              <td>7800º Fahrenheit</td>
              <td>12/04/1985</td>
              <td>Mercury Record</td>
            </tr>
            <tr>
              <th scope="row">1986</th>
              <td>Slippery When Wet</td>
              <td>18/08/1986</td>
              <td>Mercury Record</td>
            </tr>
            <tr>
              <th scope="row">1988</th>
              <td>New Jersey</td>
              <td>18/0/1988</td>
              <td>Mercury Record</td>
            </tr>
            <tr>
              <th scope="row">1992</th>
              <td>Keep the Fait</td>
              <td>03/11/1992</td>
              <td>Mercury Record</td>
            </tr>
            <tr>
              <th scope="row">1995</th>
              <td>These Days</td>
              <td>27/06/1995</td>
              <td>Mercury Record</td>
            </tr>
            <tr>
              <th scope="row">2000</th>
              <td>Crush</td>
              <td>13/06/2000</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2002</th>
              <td>Bounce</td>
              <td>06/10/2002</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2005</th>
              <td>Have a Nice Day</td>
              <td>20/09/2005</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2007</th>
              <td>Lost Highway</td>
              <td>08/06/07</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2009</th>
              <td>The Circle</td>
              <td>02/11/2009</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2013</th>
              <td>What About Now</td>
              <td>08/03/2013</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2015</th>
              <td>Burning Bridges</td>
              <td>21/08/2015</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2016</th>
              <td>This House is Not For Sale</td>
              <td>04/11/2016</td>
              <td>Island Record</td>
            </tr>
            <tr>
              <th scope="row">2020</th>
              <td>2020</td>
              <td>02/10/2020</td>
              <td>Island Record</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <div class="subtitulos">
        <h2>Top Ten de sus mejores canciones</h2>
      </div>
      <div class="container-fluid w-75">
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>10 - Bad Medicine (1988)</h3>
            <p>Tras un disco casi perfecto, llegó su continuación que esta vez sí estuvo al
              mismo nivel que el anterior. Para muchos fans incluso más completo que su anterior trabajo. Temas como el
              que aquí les pongo, «Lay You Hands On Me«, «Born To Be My Bay«, «Blood On Blood» o «I’ll Be There For You»
              lo corroboran.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/72hcFp4tYkd3dbNA9dZ3Pv?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>09 - Always (1994)</h3>
            <p>El giro fue acertado y les llevo a lanzar un recopilatorio con sus mejores temas hasta el momento y dos
              canciones nuevas. Estamos ante la balada por excelencia de la banda, que seguía la linea de «Bed Of Roses»
              e incluso la mejoraba.
            </p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/2RChe0r2cMoyOvuKobZy44?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>08 - Keep The Faith (1992)</h3>
            <p>Tras un parón de un par de años por el cansanció de la gira del New Jersey y el disco en solitario de Jon
              y el de Richie Sambora, llegó el cambio. Actualizaron su sonido abarcando ahora un abanico más amplio dentro del Rock. Temas como
              «I’ll Sleep When I’m Dead«, «Bed Of Roses» o «In These Arms» podrían estar aquí también.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/5EWtBjCLy21d1hY9zdaEe8?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>07 - I`ll Be There For You (1988)</h3>
            <p>Es una power ballad publicada el 20 de marzo de 1989 como tercer sencillo oficial de su cuarto
              álbum de estudio New Jersey (1988). La canción fue escrita por Jon Bon Jovi y el guitarrista principal
              Richie Sambora.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/07HqIg8BnB1lJElnw2ZiSR?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>06 - I`ts My Life </h3>
            <p>Tras otro parón esta vez de varios años y de nuevo con discos en solitario de sus líderes, llegó este
              disco que actualizó el sonido de la banda por lo más alto. Este hit se puede considerarse
              el segundo tema más conocido de la banda.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/0v1XpBHnsbkCn7iJ9Ucr1l?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>05 - This Ain`t a Love Song (1995)</h3>
            <p>Continuaron con el sonido de su anterior disco. Para mi gusto es de
              los más completos, con joyas como esta balada épica que nos muestra a unos Bon Jovi en un momento
              compositivo magnífico como demuestra también el tema que da título al disco «These Days«.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/0ZLBD6hHGN9LYOtNlu2n8e?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>04 - Have a Nice Day (2005)</h3>
            <p>El mensaje de "Have A Nice Day" fue pensado para poder tomar múltiples formas. Jon Bon Jovi ha considerado el punto general de la canción como para promover la tolerancia entre las personas de diferentes creencias.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/06Zz2l7cVTCTgCNDe1bnEF?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>03 - Wanted Dead or Alive (1986)</h3>
            <p>El tema que dió inicio a los Unplugged de la MTV. Su interpretación en acústico
              junto a «Living On A Prayer» por Jon Bon Jovi y Richie Sambora en los MTV Music Awards 1989 comenzó la
              moda.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/0oerlffJSzhRVvtDfLcp3N?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>02 - You Give Love a Bad Name (1986)</h3>
            <p>La canción contiene una letra que trata sobre un hombre que se dá cuenta que su mujer lo trata mal y que
              simplemente ella no es para él.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/6rCHGKyJNcAeN00ivrbpy8?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>01 - Livin on a Prayer (1986)</h3>
            <p>El tema estrella de la banda desde que la lanzaron. Una canción que desde el primer momento trascendió y
              se convirtió en un tema legendario que encumbró a la banda.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/37ZJ0p5Jm13JPevGcx4SkF?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
        <div class="container-top-ten row">
          <div class="col-md-6 texto-musica">
            <h3>Mencion Honorifica - In This Arms (1992)</h3>
            <p>Se supone que cuando nos enamoramos de una persona, cuando nos sentimos atraídos por esta, se
              despiertan toda una serie de señales químicas que nos hacen decir cursilerias, tales como: siempre te voy a
              amar, nunca voy a dejarte, jamás encontraré a nadie como tú.</p>
          </div>
          <div class="spotify d-flex justify-content-center align-items-center col-md-6">
            <iframe src="https://open.spotify.com/embed/track/0vTKR5TQD03kASmEGlyDF3?theme=0" width="70%" height="250"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>










  <!--==========================================================================================-->
  <!--================================== FOOTER ================================================-->
  <!--==========================================================================================-->

  <footer>
    <div class="top container-fluid d-flex justify-content-center">
      <div class="column1">
        <ul>
          <li><span class="footer__menu__titulo__columna1">bon jovi</span></li>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="./miembros.html">Miembros</a></li>
          <li><a href="./discografia.html">Discografia</a></li>
          <li><a href="./conciertos.html">Conciertos</a></li>
          <li><a href="./contactanos.html">Contactanos</a></li>
        </ul>
      </div>
      <div class="column2">
        <div class="icon-media">
          <ul>
            <li><span class="footer__menu__titulo__columna2">ayudanos</span></li>
            <li><a href="https://jbjsf.org/" target="_blank"><img
                  src="../public/img/foundation/logo-jbj-soul-foundation.svg" alt=""></a></li>
            <li><a href="https://www.runawaytours.com/" target="_blank"><img
                  src="../public/img/foundation/logo-runaway-tours.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="column3">
        <ul>
          <li><span class="footer__menu__titulo__column3">siguenos</span></li>
          <li><a href="https://www.facebook.com/BonJovi/" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></li>
          <li><a href="https://www.instagram.com/bonjovi/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a></li>
          <li><a href="https://twitter.com/bonjovi" target="_blank"><i class="bi bi-twitter"></i>Twitter</a></li>
          <li><a href="https://www.youtube.com/user/bonjovi" target="_blank"><i class="bi bi-youtube"></i>Youtube</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <p>
        DEVspinaca. &copy; Todos los derechos reservados 2021
      </p>
    </div>
  </footer>


  <!-- SCRIPT BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
  <!-- SCRIPT TYPEWRITTER -->
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <!-- JS LOCAL -->
  <script src="./scripts/main.js"></script>
</body>

</html>
