<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--COMPLETAR-->
    <meta name="descrption">
    <!--COMPLETAR-->
    <meta name="keywords">
    <title>Miembros</title>
    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- LINK CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- ICONOS BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

    <!--==========================================================================================-->
    <!--========================= HEADER - NAVBAR - MENU =========================================-->
    <!--==========================================================================================-->

    <header class="miembros__header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <div class="nav-logo">
                        <img src="../public/img/logo/logo.jpg" alt="">
                        <span>Bon Jovi</span>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./miembros.html">Miembros</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./discografia.html">Discografia</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./conciertos.html">Conciertos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./contactanos.html">Contactanos</a>
                        </li>


                    </ul>
                    <div class="social-media">
                        <ul class="social-media-menu d-flex align-items-center m-0 p-0">
                            <li><a href="https://www.facebook.com/BonJovi/" target="_blank"><i
                                        class="bi bi-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/bonjovi/" target="_blank"><i
                                        class="bi bi-instagram"></i></a></li>
                            <li><a href="https://twitter.com/bonjovi" target="_blank"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li><a href="https://www.youtube.com/user/bonjovi" target="_blank"><i
                                        class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!--==========================================================================================-->
    <!--================ MAIN - SECTION: MIEMBROS FUNDADORES =====================================-->
    <!--==========================================================================================-->

    <main class="miembros__main">
        <section class="miembros__section">
            <div class="container-fluid">
                <div class="subtitulos">
                    <h2>Miembros Fundadores</h2>
                </div>
                <div class="row w-75 d-flex justify-content-center mx-auto container-primera">
                    <div class="col-lg-6 col-md-12 col-sm-12 container-texto">
                        <p>Si bien la banda Bon Jovi siempre se ha mostrado unida, preservando a la mayoria de sus
                            miembros fundadores, no está excenta de algunas partidas significativas. En
                            1983 Polygram le dio a Jon la libertad de contratar a los musicos que él quisiera. El
                            primero en ser reclutado fue su amigo del instituto, el
                            teclista David Raschbaum (David Bryan).​ Luego llegó
                            Alec John Such, bajista, quien a su vez le presento al baterista cubano
                            Tico Torres, que ya tenía una larga trayectoria profesional.​ Dave Sabo ocupó temporalmente
                            el puesto de guitarrista,​ pero pronto fue sustituido por Richie Sambora.​
                            Sambora había estado viendo tocar a la banda de Jon Bon Jovi y decidió presentarse al
                            casting para ser el nuevo guitarrista. Tras unos minutos tocando convenció al vocalista y
                            este le incluyó en el grupo.</p>
                    </div>
                    <div
                        class="col-lg-6 col-md-12 col-sm-12 container-img d-flex justify-content-center align-items-center">
                        <img src="../public/img/logo-miembros/rockstar.svg" alt="" class="img-movil">
                    </div>
                </div>
            </div>
        </section>
        <section class="miembros_actuales_section">
            <div class="container-fluid">
                <div class="miembros__actuales">
                    <div class="subtitulos">
                        <h2>Miembros Actuales</h2>
                    </div>

                    <!-- contenedor de tarjetas-->
                    <div class="container-card">
                        <div class="container">
                            <div class="row d-flex justify-content-center grid-miembros-actuales">
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="../public/img/card-artist/jon.jpg" class="card-img-center" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Jon Bon Jovi</h5>
                                            <p class="card-text">Vocalista y guitarrista</p>
                                            <p class="card-text">1983 - Actualidad</p>
                                            <p class="card-text">
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#bjb">
                                                    Info
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="bjb" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Jon Bon
                                                                    Jovi
                                                                    (1962)
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">John Francis Bongiovi Jr. (Perth
                                                                Amboy,
                                                                Nueva Jersey; 2 de marzo de 1962), conocido por su
                                                                nombre
                                                                artístico Jon Bon Jovi, es un músico, actor, compositor,
                                                                filántropo y productor discográfico
                                                                estadounidense, reconocido por ser el vocalista y líder
                                                                de
                                                                la banda de rock Bon Jovi.
                                                                Desde 2009 forma parte del prestigioso "Songwriters Hall
                                                                of
                                                                Fame".1? En 2012, Jon Bon Jovi se
                                                                situó en el número 50 en la lista "Power 100" de la
                                                                revista
                                                                Billboard, un ranking sobre las
                                                                personas más influyentes en el negocio de la música
                                                                ("The
                                                                Most Powerful and Influential People
                                                                in the Music Business"). En 1996, la revista People lo
                                                                nombró como una de las cincuenta personas
                                                                más bellas del mundo ("50 Most Beautiful People in the
                                                                World"). En 2000, la misma revista lo
                                                                nombró como la estrella de rock más sexy ("Sexiest Rock
                                                                Star") y también se colocó en el número
                                                                13 en la lista de la cadena VH1 sobre los cien artistas
                                                                más
                                                                atractivos ("100 Sexiest Artists").</div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cerrar</button>
                                                                <button type="button" class="btn btn-dark"><a
                                                                        href="https://es.wikipedia.org/wiki/Bon_Jovi"
                                                                        target="_blank">Wikipedia</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="../public/img/card-artist/david.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">David Bryan</h5>
                                            <p class="card-text">Teclista, pianista</p>
                                            <p class="card-text">1983 - Actualidad</p>
                                            <p class="card-text">

                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#db">
                                                    Info
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="db" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">David
                                                                    Bryan (1962)
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">David Bryan Rashbaum (Edison, Nueva
                                                                Jersey, 7 de febrero de 1962), más conocido por su
                                                                nombre
                                                                artístico David Bryan, es un teclista y compositor
                                                                estadounidense que forma parte de la banda de hard rock
                                                                estadounidense Bon Jovi. En cuanto a su trabajo fuera de
                                                                la
                                                                banda, ha editado varios discos en solitario, y ha
                                                                compuesto
                                                                varios musicales, destacando su último trabajo
                                                                "Memphis".
                                                                Bryan fue el primero en recibir una llamada de Jon Bon
                                                                Jovi,
                                                                cuando este último recibió un contrato de grabación,
                                                                puesto
                                                                que eran amigos del instituto, con el que grabó su
                                                                primer
                                                                álbum en 1984.</div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cerrar</button>
                                                                <button type="button" class="btn btn-dark"><a
                                                                        href="https://es.wikipedia.org/wiki/David_Bryan"
                                                                        target="_blank">Wikipedia</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="../public/img/card-artist/tico.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Tico Torres</h5>
                                            <p class="card-text">Bateria, percusionista</p>
                                            <p class="card-text">1983 - Actualidad</p>
                                            <p class="card-text">

                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#tt">
                                                    Info
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="tt" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Tico
                                                                    Torres (1953)
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">Héctor Samuel Juan Torres (Nueva
                                                                York,
                                                                Estados Unidos, 7 de octubre de 1953), más conocido como
                                                                Tico Torres, es un músico estadounidense, baterista de
                                                                la
                                                                banda de hard rock Bon Jovi. Sus padres, Emma y Héctor
                                                                emigraron de Cuba en 1948. Durante los años 80´s y 90´s
                                                                Torres fue una pieza fundamental para consolidar el
                                                                éxito
                                                                mundial de la banda. Durante las giras se le podía
                                                                encontrar
                                                                frecuentemente haciendo bocetos, pero no fue sino hasta
                                                                1993
                                                                cuando decidió explorar el arte de la pintura como una
                                                                segunda carrera, y una vez más sin un entrenamiento
                                                                formal
                                                                demostró su talento natural. Aparte de ser batería,
                                                                también
                                                                es pintor y piloto.</div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cerrar</button>
                                                                <button type="button" class="btn btn-dark"><a
                                                                        href="https://es.wikipedia.org/wiki/Tico_Torres"
                                                                        target="_blank">Wikipedia</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row d-flex justify-content-center">
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="../public/img/card-artist/phil.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Phil X</h5>
                                            <p class="card-text">Guitarrista</p>
                                            <p class="card-text">2011 - Actualidad</p>
                                            <p class="card-text">



                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#x">
                                                    Info
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="x" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Phil X (1966)
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">En 2011 Phil X sustituyó al
                                                                guitarrista
                                                                de Bon Jovi, Richie Sambora, quien se perdió 13
                                                                conciertos
                                                                tras de entrar en rehabilitación, e hizo lo mismo en
                                                                2013
                                                                cuando Sambora se retiró de la banda por motivos
                                                                personales.
                                                                Con Bon Jovi realizó el resto de la gira actuando en
                                                                festivales como el Rock in Rio o en recintos como Hyde
                                                                Park.
                                                                Posteriormente Phil regresó a su banda. En 2015, cuando
                                                                se
                                                                confirmó el próximo nuevo álbum de Bon Jovi y la
                                                                correspondiente gira mundial, Math Bongiovi, mánager de
                                                                la
                                                                banda, fue preguntado sobre la incorporación de un nuevo
                                                                guitarrista tras la salida de Richie Sambora, a lo que
                                                                Math
                                                                respondió que no habría nuevo guitarrista oficial, sino
                                                                que
                                                                sería uno contratado el que se hiciese cargo de cubrir
                                                                la
                                                                vacante. Más tarde se confirmó que se seguirá contando
                                                                con
                                                                Phil X para los conciertos. Desde junio del 2016 es
                                                                considerado el guitarrista oficial de la banda Bon Jovi
                                                                luego de la partida de su anterior guitarrista Richie
                                                                Sambora en el 2013, quien afirmó que no regresaría más a
                                                                la
                                                                banda.</div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cerrar</button>
                                                                <button type="button" class="btn btn-dark"><a
                                                                        href="https://es.wikipedia.org/wiki/Phil_X"
                                                                        target="_blank">Wikipedia</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <img src="../public/img/card-artist/hugh.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Hugh McDonald</h5>
                                            <p class="card-text">Bajista</p>
                                            <p class="card-text">1994 - Actualidad</p>
                                            <p class="card-text">




                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#mc">
                                                    Info
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="mc" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Hugh
                                                                    McDonald (1950)
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">Hugh John McDonald (28 de diciembre
                                                                de
                                                                1950 en Filadelfia) es el bajista de la banda
                                                                estadounidense
                                                                Bon Jovi desde 1994. Sustituyó a Alec John Such. A pesar
                                                                de
                                                                haber llevado tantos años con el grupo, no se le
                                                                consideró
                                                                miembro oficial hasta 2016, de la mano del nuevo álbum
                                                                "This
                                                                House Not For Sale". Vale aclarar que componía el bajo
                                                                para
                                                                estudio de Bon Jovi desde 1983. En 1994, tras la salida
                                                                de
                                                                Alec, a Hugh se le propone ser miembro oficial, cosa que
                                                                este rechaza debido a que no siendo miembro oficial
                                                                puede
                                                                trabajar con otras bandas. Sin embargo, hasta el día de
                                                                hoy,
                                                                Hugh sigue trabajando con Bon Jovi al 100% en estudio y
                                                                en
                                                                vivo. También ha colaborado en los álbumes solistas de
                                                                Richie Sambora y Jon Bon Jovi, además de haber trabajado
                                                                con
                                                                músicos de la talla de Alice Cooper o Ringo Starr.</div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cerrar</button>
                                                                <button type="button" class="btn btn-dark"><a
                                                                        href="https://es.wikipedia.org/wiki/Hugh_McDonald"
                                                                        target="_blank">Wikipedia</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div>


            <!--
                        <div class="container-card">
                        <div class="container">
                            <div class="row d-flex justify-content-center grid-miembros-actuales">
                                <div class="col-md-3">
                                    <div class="card">
-->






            <div class="subtitulos">
                <h2>Miembros Antiguos</h2>
            </div>
            <div class="miembros__antiguos__grid">
                <div class="container">
                    <div class="miembros-antiguos-contenedor row d-flex justify-content-center">
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="../public/img/card-artist/dave.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Dave "Snake" Sabo</h5>
                                    <p class="card-text">Guitarrista, coros</p>
                                    <p class="card-text">1983</p>
                                    <p class="card-text">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#ds">
                                            Info
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="ds" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Dave Sabo (1964)
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">David Michael Sabo (David Michael Sabo,
                                                        16 de septiembre de 1964, Nueva Jersey), es uno de los
                                                        guitarristas, junto a Scotti Hill, de la agrupación de hard
                                                        rock/heavy metal Skid Row. Es apodado "The Snake". Sabo
                                                        también estuvo en la banda Ozone Monday junto al vocalista
                                                        Shawn McCabe, y otros miembros de Skid Row como el
                                                        mencionado Scotti Hill, el bajista Rachel Bolan y el
                                                        baterista Rob Affuso. Por otro lado, fue el primer
                                                        guitarrista de Bon Jovi, pero tras una discusión con su
                                                        líder Jon Bon Jovi, decidió abandonar el grupo al poco de
                                                        haber entrado.</div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-dark"><a
                                                                href="https://es.wikipedia.org/wiki/Dave_Sabo"
                                                                target="_blank">Wikipedia</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="../public/img/card-artist/alec.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Alec Jhon Such</h5>
                                    <p class="card-text">Bajo, coros</p>
                                    <p class="card-text">1983 - 1994</p>
                                    <p class="card-text">






                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#ajs">
                                            Info
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="ajs" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Alec Jhon
                                                            Such (1951)
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">Alec John Such (nacido el 14 de
                                                        noviembre de 1951 en Nueva York) es un músico y compositor
                                                        estadounidense, conocido por haber formado parte de la banda
                                                        Bon Jovi como el bajista hasta 1994, sustituido al final de
                                                        manera no oficial por Hugh McDonald. Según Jon Bon Jovi y
                                                        Richie Sambora en sendas entrevistas en un episodio del
                                                        programa Behind the Music de VH1, Such fue despedido del
                                                        grupo debido a sus insatisfactorias actuaciones en directo,
                                                        unido a la baja calidad del material que grabó en el disco
                                                        Cross Road. No obstante, Such no aceptó dar su punto de
                                                        vista de la situación en el programa. Varias son los rumores
                                                        sobre su salida del grupo. El más extendido cuenta que fue
                                                        despedido después de dar información privada sobre lo que
                                                        ocurría detrás de la escena en los conciertos de la banda
                                                        (y/ó por discriminar a la familia de Jon Bon Jovi). Jon Bon
                                                        Jovi declaró al respecto: "Lo que pasa en la familia, se
                                                        queda en la familia".</div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-dark"><a
                                                                href="https://es.wikipedia.org/wiki/Alec_John_Such"
                                                                target="_blank">Wikipedia</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card h-100">
                                <img src="../public/img/card-artist/richie.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Richie Sambora</h5>
                                    <p class="card-text">Guitarrista, talk-box y coros</p>
                                    <p class="card-text">1983 - 2013</p>
                                    <p class="card-text">







                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#rs">
                                            Info
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="rs" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Richie
                                                            Sambora (1959)
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">Richard Stephen Sambora (Perth Amboy,
                                                        Nueva Jersey; 11 de julio de 1959), más conocido como Richie
                                                        Sambora, es un guitarrista, compositor, productor y
                                                        vocalista estadounidense. La revista Total Guitar lo colocó
                                                        en el puesto N.º 28 en su ranking de los 100 mejores
                                                        guitarristas de la historia,1​ y su solo de «Wanted Dead or
                                                        Alive» está entre los 100 mejores solos de guitarra de la
                                                        historia. También está incluido en el Salón de la Fama de
                                                        los Compositores del Reino Unido y en el Salón de la Fama
                                                        del Rock and Roll, junto a Bon Jovi. Saltó a la fama junto a
                                                        su banda con el exitoso álbum Slippery When Wet (1986), en
                                                        el que Sambora destaca por sus riffs y solos de guitarra, y
                                                        obtuvo un gran éxito comercial con Bon Jovi a lo largo de la
                                                        década de los ochenta y en adelante. En 1991 Sambora lanzó
                                                        su primer álbum en solitario, Stranger in This Town, con
                                                        temas como «Rosie», «Ballad of Youth» o «Mr.Bluesman» (cuyo
                                                        solo fue interpretado por Eric Clapton, haciéndose realidad
                                                        así uno de los sueños de Richie Sambora). Después de la gira
                                                        promocional de este disco, Bon Jovi se reunió en 1992 para
                                                        editar «Keep The Faith» y más tarde «These Days». En 1998,
                                                        tras otro parón de la banda, Sambora sacó su segundo disco
                                                        en solitario, Undiscovered Soul, del que destacan los temas
                                                        «Hard Times Come Easy» y «In It For Love».</div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-dark"><a
                                                                href="https://es.wikipedia.org/wiki/Richie_Sambora"
                                                                target="_blank">Wikipedia</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>
    </main>

    <!--==========================================================================================-->
    <!--================================== FOOTER ================================================-->
    <!--==========================================================================================-->

    <footer>
        <div class="top container-fluid d-flex justify-content-center">
            <div class="column1">
                <ul>
                    <li><span class="footer__menu__titulo__columna1">bon jovi</span></li>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./miembros.html">Miembros</a></li>
                    <li><a href="./discografia.html">Discografia</a></li>
                    <li><a href="./conciertos.html">Conciertos</a></li>
                    <li><a href="./contactanos.html">Contactanos</a></li>
                </ul>
            </div>
            <div class="column2">
                <div class="icon-media">
                    <ul>
                        <li><span class="footer__menu__titulo__columna2">ayudanos</span></li>
                        <li><a href="https://jbjsf.org/" target="_blank"><img src="../public/img/foundation/logo-jbj-soul-foundation.svg" alt=""></a>
                        </li>
                        <li><a href="https://www.runawaytours.com/" target="_blank"><img src="../public/img/foundation/logo-runaway-tours.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="column3">
                <ul>
                    <li><span class="footer__menu__titulo__column3">siguenos</span></li>
                    <li><a href="https://www.facebook.com/BonJovi/" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/bonjovi/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a></li>
                    <li><a href="https://twitter.com/bonjovi" target="_blank"><i class="bi bi-twitter"></i>Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/bonjovi" target="_blank"><i class="bi bi-youtube"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>
                DEVspinaca. &copy; Todos los derechos reservados 2021
            </p>
        </div>
    </footer>


    <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <!-- SCRIPT TYPEWRITTER -->
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <!-- JS LOCAL -->
    <script src="./scripts/main.js"></script>



</body>

</html>